body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.navbar {
  box-shadow: rgb(153, 153, 153) 0px 1px 5px;
}

.jumbotron {
  padding-top: 15px;
  padding-bottom: 10px;
  box-shadow: inset 0px -5px 6px -5px rgb(153, 153, 153);
}

.trim-the-top-margin {
  margin-top: 0px;
}

.bottom-pad {
  padding-bottom: 15px;
}

.top-pad {
  padding-top: 15px;
}

.interface {
  border: 1px solid black;
}
