
h1 {
  font-family: helvetica sans-serif;;
  border-bottom: 1px dashed #bbb;
}

#github-banner {
  display: none;
}

#header {
  height: 125px;
  width: 200px;
  padding: 10px;
}

#content {
  min-height: cal(100vh - 200px);
}

.sidebar {
  padding: 15px;
  border-top: 1px dashed #bbb;
}

.sidebar ul li {
  height: 2em;
}

@media screen and (min-width: 992px) {

  #github-banner {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  #wrapper {
    width: 95%;
    max-width: 1024px;
    margin: 0 auto;
  }

  #header {
    padding: 20px 0 0 100px;
    height: 200px;
    width: 100%;
  }

  .body {
    border-left: 1px dashed #bbb;
  }

  .sidebar {
    text-align: right;
    border-top: none;
  }

  .sidebar ul li {
    list-style: none;
  }

}
